dj-database-url==0.5.0
Django==2.2.5
gunicorn==19.9.0
model-mommy==1.6.0
psycopg2-binary==2.8.3
pypi==2.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
whitenoise==4.1.3
django-widget-tweaks==1.4.5
Pillow==6.2.1
django-pagseguro2==2.0.4
