{% extends "core/base.html" %}

{% block title %}
    {{ product }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{{ product }}</h1>
</div>
<div class="row">
  <div class="col-sm-4">
      <a href="#" class="thumbnail">
            {% if product.images %}
            {% for image in product.images.all %}
            {% if image.thumbnail %}
            <img src="{{ image.image.url }}" alt="" />
            {% endif %}
            {% endfor %}
            {% else %}
            <img src="http://placehold.it/350x250" alt="" />
            {% endif %}
      </a>
  </div>
  <div class="col-sm-8">
      <p class="text-right">
          <a href="{% url 'checkout:create_cart_item' product.slug %}" class="btn btn-success">Adicionar ao Carrinho</a>
      </p>
      {{ product.description|linebreaks }}
  </div>
</div>
{% endblock %} 
  
