{% extends "core/base.html" %}
{% load static %}

{% load pagination %}

{% block title %}
    Listagem de Produtos | {{ block.super }}
{% endblock %}

{% block header_area  %}
 {{ block.super }}
{% endblock %}

{% block banner_area %}
 {{ block.super }}
{% endblock %}

{% block index_carousel %}

    <div class="container"> 
        <div class="row justify-content-sm-center">
                {% for product in product_list %}
                    {% include 'catalog/_product.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% pagination request paginator page_obj %}

{% endblock %}

{% block scripts %}

<script type='text/javascript'>
$(function(){
    $('.cart-item-add').on('click', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('href'),
            dataType: 'json',
            success: function(data, textStatus, jqXHR){
                //pass
            }
        });
    });
});

</script>

{% endblock %}