#btnmenu {
    font-size: 1.5em;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: transparent;
    position: absolute;
    top: 70px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

  .wrapper .navbar .navbar-collapse {
    background: transparent !important;
    margin-top: 10px;
  }
  .bg-megamenu-image {
    background: #222222cc;
  }

  .btn-main {
    background: -webkit-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important; 
    background: -moz-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: -o-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: -ms-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    color: #fff !important;
    border: none !important;
  }
  
  .btn-main:active, .btn-main:focus {
    background: -webkit-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: -moz-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: -o-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: -ms-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    color: #fff !important;
  }

  .btn-main-invert {
    border-image: linear-gradient(to right #7c32ff,#c738d8) 1 100%;
    border: 2px solid #b436e2;
    background-image: -webkit-linear-gradient(right, #7c32ff, #c738d8); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(right, #7c32ff, #c738d8); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(right, #7c32ff, #c738d8); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(right, #7c32ff, #c738d8); /* For old Opera (11.1 to 12.0) */
    background-image:      linear-gradient(to right #7c32ff, #c738d8); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .btn-main-invert:active, .btn-main-invert:focus , .btn-main-invert:hover{
    color: #fff;
    background: -webkit-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important; 
    background: -moz-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: -o-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: -ms-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
  }
/**************************** dropdown-lg ******************************/

  .navbar .dropdown-menu.dropdown-lg div[class*="col"] {
     margin-bottom:1rem;
  }
  .navbar .dropdown-menu.dropdown-lg {
    border:none;
    border-top:1px solid #555;
    border-radius: 0;
    background-color:#222222!important;
    display:block!important;
    transition: all 0.2s ease 0s !important;
    -webkit-transition: all 0.2s ease 0s !important;
  }
  
 @media screen and (min-width: 1000px) {
    
  .navbar .dropdown.dropdown-lg {position:static;}

  .navbar .dropdown-menu.dropdown-lg {
    width:100%;
    left:0;
    right:0;
    top:134px;/* height of navbar  */
  }
  .navbar .dropdown:hover .dropdown-menu.dropdown-lg, .navbar .dropdown .dropdown-menu.dropdown-lg:hover {
    display:block!important;
  }
  .navbar .dropdown.dropdown-lg:hover {
    background: rgba(255, 255, 255, 0.05);
    border-bottom:3px solid #a8a6a6;
  }
  .navbar .dropdown.dropdown-lg .dropdown-toggle::after {
    display:none;
  }
}
/****************************END dropdown-lg ******************************/

/* .back-to-top:hover img, .back-to-top:focus img {
      content: url('{% static "new/img/up-down.gif" %}' );
   } */

    
  .btn-gif img.bg-gif {
      width: 20px;
      height: 20px;
  }
  body {font-family: 'Lato', sans-serif;}
  h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif;}
  h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Lato', sans-serif;}

  /*.home-banner-area {
    background: url("{% static 'new/img/home-banner-bg2.png' %}") no-repeat;
    background: none;
  }*/
  .btn-instagram {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-color: #fff;
  }

  .btn-instagram:hover {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e49f3f, #df1a1a, #6f3199);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e49f3f, #df1a1a, #6f3199); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-color: #fff;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white !important;
  }
  .navbar-light .navbar-nav .nav-link.subcat {
    color: #c9c9c9 !important;
  }
  .navbar-light .navbar-nav .nav-link.subcat:hover, .navbar-light .navbar-nav .nav-link.subcat:focus {
    background: rgba(255, 255, 255, 0.05);
    color: white !important;
  }
  @media screen and (min-width: 990px) {
   .nav-bot li a {padding: 0px 10px 10px 10px;}
   .nav-top li a {padding: 10px 10px 2px 10px;}
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes navbar-anim {
    from {background-color:transparent;}
    to {background-color: #222222f2;}
  }
  /* Standard syntax */
  @keyframes navbar-anim {
    from {background-color:transparent;}
    to {background-color: #222222f2;}
  }
  .navbar-anim:focus, .navbar-anim:hover  {
    background: #222222f2;
    -webkit-animation-name: navbar-anim; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: navbar-anim;
    animation-duration: 0.5s;
  }
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 1000px;
    }
  }

/************** Owl carousel Card Custom Nav ***************/
  .owl-carousel.owl-carousel-card .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  .owl-theme.owl-carousel-card .owl-nav {
      height: 0;
      margin: 0;
  }
  .owl-theme.owl-carousel-card .owl-dots {
      position: relative;
      bottom: 20px;

  }
  
  .owl-carousel.owl-carousel-card .owl-prev.disabled,
  .owl-carousel.owl-carousel-card .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
  }
  
  .owl-carousel.owl-carousel-card .prev-slide{
    /* left: -33px; */
    left: -12px;
    margin-top: 28px;
  }
  .owl-carousel.owl-carousel-card .next-slide{
    /* right: -33px; */
    right: -12px;
    margin-top: 28px;
  }
  .owl-carousel.owl-carousel-card .next-slide, .owl-carousel.owl-carousel-card .prev-slide{
    width: 50px;
  }
  .owl-carousel.owl-carousel-card .prev-slide:hover{
   background-position: 0px -53px;
  }
  .owl-carousel.owl-carousel-card .next-slide:hover{
  background-position: -24px -53px;
  }   

  @media (min-width: 300px) {
 .owl-carousel.owl-carousel-card .prev-slide{
    /* left: -33px; */
    left: -3px;
    margin-top: 0px;
  }
  .owl-carousel.owl-carousel-card .next-slide{
    /* right: -33px; */
    right: -12px;
    margin-top: 0px;
  }
  .owl-carousel.owl-carousel-card .next-slide, .owl-carousel.owl-carousel-card .prev-slide{
    width: 40px;
    height: 40px;
  }
  .owl-carousel.owl-carousel-card .card .card-text, .owl-carousel.owl-carousel-card .card .card-title {font-size: 16px;}
}
  @media (min-width: 992px) {  
  .owl-carousel.owl-carousel-card .prev-slide{
    left: -32px;
    margin-top: 35px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  .owl-carousel.owl-carousel-card .next-slide{
    right: -33px;
    margin-top: 35px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  .owl-carousel.owl-carousel-card .prev-slide:hover {
    margin-top: 32px;
    left: -40px;
    width: 50px;
    height: 50px;
  }
  .owl-carousel.owl-carousel-card .next-slide:hover {
    margin-top: 32px;
    right: -40px;
    width: 50px;
    height: 50px;
  }
  .owl-carousel.owl-carousel-card .card .card-text, .owl-carousel.owl-carousel-card .card .card-title {font-size: 14px;}
}
/************** End Owl carousel Custom Nav ***************/


/************** Start Login Modal ***************/
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1.5rem 1rem 0 1rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.md-tabs {
  position: relative;
  z-index: 1;
  padding: .7rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  margin-left: 1rem;
  border: 0;
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.pink-purple {
  background: -webkit-linear-gradient(270deg, #c738d8 0%, #7c32ff 100%) !important; 
  background: -moz-linear-gradient(270deg, #c738d8 0%, #7c32ff 100%) !important;
  background: -o-linear-gradient(270deg, #c738d8 0%, #7c32ff 100%) !important;
  background: -ms-linear-gradient(270deg, #c738d8 0%, #7c32ff 100%) !important;
  background: linear-gradient(270deg, #c738d8 0%, #7c32ff 100%) !important;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-bottom: 0;
  list-style: none;
}
.tab-content .tab-pane .modal-body .md-form i{
  position: relative !important;
  bottom: 30px !important;
  font-size: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tab-content .tab-pane .modal-body .md-form input {
  padding: 0.1rem 0.5rem !important; 
  line-height: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tab-content .tab-pane .modal-body .md-form label{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative !important;
  bottom: 33px !important;
  font-size: 16px;
  left: 1rem;
}
.tab-content .tab-pane .modal-body .md-form input::placeholder {opacity: 0;}

.tab-content .tab-pane .modal-body .md-form input:not(:placeholder-shown) + i + label {
  position: relative !important;
  bottom: 60px !important;
  font-size: 12px;
  left: 0px;
  color: #b436e2;
}

.tab-content .tab-pane .modal-body .md-form input:not(:placeholder-shown) + i{
  color: #b436e2;
}

.tab-content .tab-pane .modal-body .md-form input:not(:placeholder-shown) {
  border-bottom: 2px solid #b436e2;
}
.tab-content .tab-pane .modal-body .md-form .form-control:focus {
  border-bottom: 2px solid #b436e2;
}

.tab-content .tab-pane .modal-body .md-form input:focus + i + label{
  position: relative !important;
  bottom: 60px !important;
  font-size: 12px;
  left: 0px;
  color: #b436e2;
}
.tab-content .tab-pane .modal-body .md-form input:focus + i{
  color: #b436e2;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
  text-align: center;
}
.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  border-radius: .25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.default-font-color {color: #b436e2;}
.default-font-color:hover, .default-font-color:focus, .default-font-color:active  {color: #9d30c5;}


.md-tabs .nav-link {
  color: #fff;
  border: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.md-form.form-sm input, .md-form.form-sm textarea {
  width: 88%;
  width: calc(100% - 3.5rem);
  margin-left: 2rem;
}
.tab-content .tab-pane .modal-body .md-form .form-control{
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.3s ease-in-out,-webkit-box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out,-webkit-box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out,-webkit-box-shadow 0.3s ease-in-out;
}
.modal-content.modal-login {width: 80%;}



/************** End Login Modal *****************/

