<!DOCTYPE html>

{% load static %}

<html lang="pt-br" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  
  <!-- <link rel="shortcut icon" href="img/fav.png" /> -->
  <link rel="shortcut icon" href="{% static 'new/img/logo2.png' %}" />

  <!-- Author Meta -->
  <meta name="author" content="DhaN" />
  <!-- Meta Description -->
  <meta name="description" content="" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="" />
  <!-- meta character set -->
  <meta charset="UTF-8" /> 
  <!-- Site Title -->
	<title>{% block title %} Fábrica de Sonhos - Despertando seus Sonhos {% endblock %}</title>

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />

  <!-- CSS ============================================= -->
  
  <link rel="stylesheet" href='{% static "new/css/linearicons.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/font-awesome.min.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/magnific-popup.css" %}' />
  <!-- <link rel="stylesheet" href='{% static "new/css/owl.carousel.css" %}' /> -->
  <link rel="stylesheet" href='{% static "new/css/nice-select.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/hexagons.min.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/bootstrap.css" %}'/>
  <link rel="stylesheet" href='{% static "new/OwlCarousel2-2.3.4/dist/css/owl.carousel.css" %}' />
  <link rel="stylesheet" href='{% static "new/OwlCarousel2-2.3.4/dist/css/owl.theme.default.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/main.css" %}' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
  
<style>
  .back-to-top:hover img {
    content: url('{% static "new/img/up-down.gif" %}' );
  }

</style>

</head>

<body>
  <!-- ================ Start Header Area ================= -->
  <header class="default-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="">
          <a class='corp-name mb-0' href="{% url 'index' %}"><img class='logo-img' src='{% static "new/img/logo2.png" %}' alt="" /> FÁBRICA DE SONHOS </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="lnr lnr-menu"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li><a href='{% url "catalog:product_list" %}'>Produtos</a></li>
            <li><a href="{% url 'contact' %}">Contato</a></li>
            <!-- Dropdown -->
              <li class="dropdown">
                <a class="dropdown-toggle" href="{% url 'catalog:product_list' %}" data-toggle="dropdown">
                  Categorias
                </a>
                <div class="dropdown-menu">
                  {% for category in categories %}
                      <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category }}</a>
                  {% endfor %}
                </div>
            </li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:account' %}">Minha Conta</a></li>
            <li><a href="{% url 'logout' %}">Sair</a></li>
            <li><a href="{% url 'checkout:cart_item' %}"><i class='ti-heart'></i></a></li>
            <li><a href="{% url 'checkout:cart_item' %}"><span class="lnr lnr-cart"></span></a></li>
            {% else %}
            <li><a href="{% url 'accounts:register' %}">Regitrar</a></li>
            <li><a href="{% url 'login' %}">Entrar</a></li>
            <li><a href="{% url 'checkout:cart_item' %}"><i class='ti-heart'></i></a></li>
            <li><a href="{% url 'checkout:cart_item' %}"><span class="lnr lnr-cart"></span></a></li>
            {% endif %}

            <li>
              <button class="search">
                <span class="lnr lnr-magnifier" id="search"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="search-input" id="search-input-box">
      <div class="container">
        <form class="d-flex justify-content-between" role='search' action='{% url "catalog:product_list" %}'>
          <input name='q' type="text" class="form-control" id="search-input" placeholder="Pesquisar Produtos..." />
          <button type="submit" class="btn"></button>
          <span class="lnr lnr-cross" id="close-search" title="Close Search"></span>
        </form>
      </div>
    </div>
  </header>
  <!-- ================ End Header Area ================= -->

  <!-- {% block messages %}
  {% for message in messages %}
  <div class='alert alert-{{ message.tags }}'> {{ message }} </div>
  {% endfor %}
  {% endblock %}
  {% block container %}{% endblock %} -->
  <!-- ================ start banner Area ================= -->


  <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8 home-banner-left">
          <h1 class="text-white font-default">Fábrica de Sonhos</h1>
          <h2 class="text-white font-default"> Despertando seus Sonhos<h3>
          <p class="mx-auto text-white mt-20 mb-40 font-default"> A Melhor em artigos de Ballet, Dança e FitStyle.</p>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
          <img class="img-fluid" src='{% static "new/img/header-img.png" %}' alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-book"></i>
            <div class="ml-20">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-cup"></i>
            <div class="ml-20">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex border-right-0">
            <i class="ti-desktop"></i>
            <div class="ml-20">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->

  <!-- ================ Start Owl Carousel Area ================= -->

  <div class="container">

        <div class="row">

              <div class="col-12">

                <div class="owl-carousel owl-theme mt-5">
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>                     
                     <div class="item ml-2 bg-light">
                      <div class="card mb-5">
                          <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                          <img class="card-img-top" src='http://placehold.it/325x250'>
                          <div class="card-body">
                              <h4 class="card-title"> Ut enim ad </h4>
                              <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                              <p class='card-text'> R$ 100,00</p>
                              <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                              <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                          </div>
                          <div class="card-footer text-muted bottom d-flex">
                              <a href="#"><i class="fa fa-star "></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <a href="#"><i class="fa fa-star"></i></a>
                              <p class="ml-20 mb-0">25 Reviews</p>
                          </div>
                      </div>

                     </div>
                </div>

              </div>

        </div>
        <div class="row">

          <div class="col-12">

            <div class="owl-carousel owl-theme mt-5">
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>                     
              <div class="item ml-2 bg-light">
               <div class="card mb-5">
                   <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                   <img class="card-img-top" src='http://placehold.it/325x250'>
                   <div class="card-body">
                       <h4 class="card-title"> Ut enim ad </h4>
                       <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                       <p class='card-text'> R$ 100,00</p>
                       <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                       <button class="btn btn-primary card-link ml-0"> Detalhes</button>
                   </div>
                   <div class="card-footer text-muted bottom d-flex">
                       <a href="#"><i class="fa fa-star "></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <a href="#"><i class="fa fa-star"></i></a>
                       <p class="ml-20 mb-0">25 Reviews</p>
                   </div>
               </div>

              </div>
         </div>

          </div>

    </div>
    <div class="row">

      <div class="col-12">

        <div class="owl-carousel owl-theme mt-5">
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>                     
          <div class="item ml-2 bg-light">
           <div class="card mb-5">
               <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
               <img class="card-img-top" src='http://placehold.it/325x250'>
               <div class="card-body">
                   <h4 class="card-title"> Ut enim ad </h4>
                   <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                   <p class='card-text'> R$ 100,00</p>
                   <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                   <button class="btn btn-primary card-link ml-0"> Detalhes</button>
               </div>
               <div class="card-footer text-muted bottom d-flex">
                   <a href="#"><i class="fa fa-star "></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <a href="#"><i class="fa fa-star"></i></a>
                   <p class="ml-20 mb-0">25 Reviews</p>
               </div>
           </div>

          </div>
     </div>

      </div>

</div>

  </div>


  <!-- ================ End Owl Carousel Area ================= -->



  <!-- ================ Start Registration Area ================= -->
  <section class="registration-area">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-5">
          <div class="section-title text-left text-white">
            <h2 class="text-white">
              Lorem ipsum dolor <br>
              sit amet
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
            </p>
          </div>
        </div>
        <div class="offset-lg-3 col-lg-4 col-md-6">
          <div class="course-form-section">
            <h3 class="text-white">Products for Free</h3>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <form class="course-form-area contact-page-form course-form text-right" id="myForm" action="mail.html" method="post">
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Name'">
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Phone Number" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Phone Number'">
              </div>
              <div class="form-group col-md-12">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Email Address'">
              </div>
              <div class="col-lg-12 text-center">
                <button class="btn text-uppercase">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Registration Area ================= -->


  <!-- ================ Start Back To Top Area ================= -->

  <!-- <a class="btn btn-light btn-lg back-to-top" href="#" role="button" tabindex="0" data-toggle="popover" data-placement='top' data-trigger='hover' data-content="Voltar para o topo" id="back-to-top"><i class="ti-arrow-up"></i></a> -->

  <a class="btn btn-light btn-lg back-to-top p-2" href="#" role="button" tabindex="0" data-toggle="popover" data-placement='top' data-trigger='hover' data-content="Voltar para o topo" id="back-to-top"><img src='{% static "new/img/up-down.svg" %}' width="30"></a>

  <!-- ================= End Back To Top Area ================== -->

  <!-- ================ Start footer Area ================= -->
  <footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Top Products</h4>
					<ul>
						<li><a href="#">Managed Website</a></li>
						<li><a href="#">Manage Reputation</a></li>
						<li><a href="#">Power Tools</a></li>
						<li><a href="#">Marketing Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Features</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Experts</a></li>
						<li><a href="#">Agencies</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 single-footer-widget">
					<h4>Newsletter</h4>
					<p>You can trust us. we only send promo offers,</p>
					<div class="form-wrap" id="mc_embed_signup">
						<form target="_blank" action=""
						 method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
							 required="" type="email">
							<button class="click-btn btn btn-default text-uppercase">subscribe</button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href=''>DhaN :) </a>
</p>
				<div class="col-lg-4 col-md-12 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
  <!-- ================ End footer Area ================= -->

  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script> -->
  <script src='{% static "new/js/vendor/jquery-2.2.4.min.js" %}'></script>
  <script src='{% static "new/js/popper.min.js" %}'></script>
  <script src='{% static "new/js/jquery.magnific-popup.min.js" %}'></script>
  <script src='{% static "new/js/jquery.ajaxchimp.min.js" %}'></script>
  <script src='{% static "new/js/parallax.min.js" %}'></script>
  <!-- <script src='{% static "new/js/owl.carousel.min.js" %}'></script> -->
  <script src='{% static "new/js/jquery.sticky.js" %}'></script>
  <script src='{% static "new/js/hexagons.min.js" %}'></script>
  <script src='{% static "new/js/jquery.counterup.min.js" %}'></script>
  <script src='{% static "new/js/waypoints.min.js" %}'></script>
  <script src='{% static "new/js/jquery.nice-select.min.js" %}'></script>
  <script src='{% static "new/js/vendor/bootstrap.min.js" %}'></script>
  <script src='{% static "new/OwlCarousel2-2.3.4/dist/js/owl.carousel.js" %}'></script>
  <script src='{% static "new/js/main.js" %}'></script>

</body>

<script>

$('.owl-carousel').owlCarousel({
    rtl:false,
    loop:true,
    margin:10,
    //nav:true,
    autoplay:true,
    autoplayTimeout:5000, // = 5s
    autoplayHoverPause:true,
		navText: [ '<img src={% static "new/img/prev.png" %} >', '<img src={% static "new/img/next.png" %}>' ],
		responsive: {
			0: {
				items: 1,
				stagePadding: 0
			},
			575: {
				items: 2,
				stagePadding: 0
			},
			768: {
				items: 2,
				stagePadding: 0
			},
			992: {
				items: 3,
				stagePadding: 0
			},
			1200: {
				items: 3,
				stagePadding: 60
			},
			1440: {
				items: 4,
				stagePadding: 60
			}
		}
})

$(document).ready(function(){
    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });
      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 400);
        return false;
      });
  });

$(function () {
    $('[data-toggle="popover"]').popover();
  });
</script>

</html>