<!DOCTYPE html>
{% load static %}{% load company %}{% load thumbnail %}{% load navbar_subcategories %}
<html lang="pt-br" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  
  <!-- <link rel="shortcut icon" href="img/fav.png" /> -->
  <link rel="shortcut icon" href="{% static 'new/img/logo2.png' %}" />

  <!-- Author Meta -->
  <meta name="author" content="Dhaniel Ricardo" />
  <!-- Meta Description -->
  <meta name="description" content="" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="" />
  <!-- meta character set -->
  <meta charset="UTF-8" /> 
  <!-- Site Title -->
  <title>{% block title %} {% company 'name' %} - {% company 'slogan' %} {% endblock %}</title>

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <!-- CSS ============================================= -->
  <link rel="stylesheet" href='{% static "new/css/linearicons.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/magnific-popup.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/nice-select.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/hexagons.min.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/bootstrap/bootstrap.css" %}'/>
  <link rel="stylesheet" href='{% static "new/OwlCarousel2-2.3.4/dist/css/owl.carousel.css" %}' />
  <link rel="stylesheet" href='{% static "new/OwlCarousel2-2.3.4/dist/css/owl.theme.default.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/sidebar.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/jquery.mCustomScrollbar.min.css" %}' />
  <link rel="stylesheet" href='{% static "new/css/main.css" %}' />
  
  <link rel="stylesheet" href='https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css' />

{% block style %}
<style>
  #btnmenu {
    font-size: 1.5em;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: transparent;
    position: absolute;
    top: 70px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

  .wrapper .navbar .navbar-collapse {
    background: transparent !important;
    margin-top: 10px;
  }
  .bg-megamenu-image {
    background: #222222cc;
  }

  .btn-main {
    background: -webkit-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important; 
    background: -moz-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: -o-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: -ms-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    background: linear-gradient(270deg, #7c32ff 0%, #c738d8 100%) !important;
    color: #fff !important;
    border: none !important;
  }
  
  .btn-main:active, .btn-main:active {
    background: -webkit-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: -moz-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: -o-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: -ms-linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    background: linear-gradient(270deg, #6b2bda 0%, #a72db4 100%) !important;
    color: #fff !important;
  }

/**************************** dropdown-lg ******************************/

  .navbar .dropdown-menu.dropdown-lg div[class*="col"] {
     margin-bottom:1rem;
  }
  .navbar .dropdown-menu.dropdown-lg {
    border:none;
    border-top:1px solid #555;
    border-radius: 0;
    background-color:#222222!important;
  }
  
 @media screen and (min-width: 1000px) {
    
  .navbar .dropdown.dropdown-lg {position:static;}

  .navbar .dropdown-menu.dropdown-lg {
    width:100%;
    left:0;
    right:0;
    top:132px;/* height of navbar  */
  }
  .navbar .dropdown:hover .dropdown-menu.dropdown-lg, .navbar .dropdown .dropdown-menu.dropdown-lg:hover {
    display:block!important;
    transition: display 1s linear
  }
}
/****************************END dropdown-lg ******************************/

/* .back-to-top:hover img, .back-to-top:focus img {
      content: url('{% static "new/img/up-down.gif" %}' );
   } */

    
  .btn-gif img.bg-gif {
      width: 20px;
      height: 20px;
  }
  body {font-family: 'Lato', sans-serif;}
  h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif;}
  h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Lato', sans-serif;}

  /*.home-banner-area {
    background: url("{% static 'new/img/home-banner-bg2.png' %}") no-repeat;
    background: none;
  }*/
  .btn-instagram {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-color: #fff;
  }

  .btn-instagram:hover {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e49f3f, #df1a1a, #6f3199);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e49f3f, #df1a1a, #6f3199); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-color: #fff;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white !important;
  }
  .navbar-light .navbar-nav .nav-link.subcat {
    color: #c9c9c9 !important;
  }
  .navbar-light .navbar-nav .nav-link.subcat:hover, .navbar-light .navbar-nav .nav-link.subcat:focus {
    background: rgba(255, 255, 255, 0.05);
    color: white !important;
  }
  @media screen and (min-width: 990px) {
   .nav-bot li a {padding: 0px 10px 10px 10px;}
   .nav-top li a {padding: 10px 10px 2px 10px;}
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes navbar-anim {
    from {background-color:transparent;}
    to {background-color: #222222f2;}
  }
  /* Standard syntax */
  @keyframes navbar-anim {
    from {background-color:transparent;}
    to {background-color: #222222f2;}
  }
  .navbar-anim:focus, .navbar-anim:hover  {
    background: #222222f2;
    -webkit-animation-name: navbar-anim; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: navbar-anim;
    animation-duration: 0.5s;
  }
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 1000px;
    }

  }
  
</style>
{% endblock %}
</head>
<body>
  <!-- ================ Start Header Area ================= -->
{% block header_area  %}
<header class="default-header">
  <!-- Navbar lg -->
<nav class="navbar navbar-expand-lg navbar-light p-0 navbar-anim d-none d-lg-block d-xl-block">
  <div class="container">
      <div class="text-center collapse navbar-collapse flex-column ml-lg-0 ml-3" id="navbarCollapse">
          <ul class="navbar-nav nav-top text-center p-0">
              <li class="nav-item">
                <a class="nav-link ml-50" id='myPopover' role="button" tabindex="0" data-placement='bottom'>(85) 3198-3669</a>
              </li>
              <li class="nav-item align-middle">
                <a class="nav-link" href="{% url 'contact' %}">Quem Somos</a>
              </li>
              <li class="nav-item align-middle">
                  <a class="nav-link" href="#">Nossas Lojas</a>
              </li>
              <li class="nav-item align-middle">
                  <a class="nav-link" href="#">Atendimento</a>
              </li>
              <li class="nav-item align-middle">
                  <a class="nav-link" href="#">Eventos</a>
              </li>
          </ul>
          <ul class="navbar-nav flex-row p-0">
            <h1 class="d-md-none d-none d-sm-none d-lg-block"><a class='corp-name p-0 text-uppercase' href="{% url 'index' %}"><img class='p-0 logo-img mr-1 mb-2' src='{% static "new/img/logo2.png" %}' alt="" /> {% company 'name' %} </a></h1>
            
            <form class="form-inline">
              <input class="form-control ml-10" type="search" id="search-main" placeholder="Procurar Produtos..." name="q" >
              <button class="btn text-white" type="submit"><i class="fas fa-lg fa-search" id="search"></i> </button>
            </form>
                        
              <li class="nav-item align-middle mt-1  mr-1">
                  <a class="nav-link" href="{% url 'checkout:cart_item' %}"><i class="fas fa-lg fa-shopping-cart"></i></a>
              </li>
              <li class="nav-item align-middle mt-1">
                  <a class="nav-link" href="{% url 'checkout:cart_item' %}"><i class="fas fa-lg fa-heart"></i></a>
              </li>
              {% if user.is_authenticated %}
              <li class="dropdown nav-item align-middle mt-1" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                  {{user}}
                </a>
                <div class="dropdown-menu m-0">
                      <a class="dropdown-item btn btn-light shadow-none" href="{% url 'accounts:account' %}">Minha Conta</a>
                      <a class="dropdown-item btn btn-light shadow-none" href="{% url 'logout' %}">Sair</a>
                </div>
              </li>
              {% else %}
              <li class="nav-item align-middle mt-1">
                  <a class="nav-link" href="#">Entrar / Registrar</a>
              </li>
              {% endif %}
          </ul>
          <ul class="navbar-nav flex-row p-0 nav-bot">
            {% for category in navcategories %}
            <li class="dropdown dropdown-lg nav-item align-middle" >
              <a class="nav-link dropdown-toggle" href="{% url 'catalog:product_list' %}" data-toggle="dropdown">
                {{ category }}
              </a>
              <div class="dropdown-menu dropdown-lg m-0">
                <h6 class="text-uppercase text-white p-2 mb-1 text-center">{{ category }}</h6>
                <div class="container">
                  <div class="row">
                    {% if category|navbar_subcategories|length <= 7 %}
                    <div class="col-md-6 text-center">
                    {% elif category|navbar_subcategories|length <= 14 %}
                    <div class="col-md-4 text-center">
                    {% else %}
                    <div class="col-md-3 text-center">
                    {% endif %}
                      <ul class="nav">
                        {% for subcategory in category|navbar_subcategories %}
                            {% if forloop.counter <= 7 and not forloop.last %}
                                <li class="nav-item" style="min-width: 180px;">
                                  <a class="nav-link p-1 subcat text-center"  href="{{subcategory.get_absolute_url}}"> {{subcategory.name}}</a>
                                </li>
                            {% elif forloop.counter == 8 %}
                                   </ul>
                                </div>
                            {% elif forloop.last and forloop.counter <= 7 %}
                                <li class="nav-item" style="min-width: 180px;">
                                  <a class="nav-link p-1 subcat text-center"  href="{{subcategory.get_absolute_url}}"> {{subcategory.name}}</a>
                                </li>
                              </ul>
                            </div>
                            {% endif %}
                        {% endfor %}
                      {% if category|navbar_subcategories|length > 7 and category|navbar_subcategories|length <= 14 %}
                      <div class="col-md-4">
                        <ul class="nav">
                      {% elif category|navbar_subcategories|length > 14 %}
                      <div class="col-md-3">
                        <ul class="nav">
                      {% endif %}
                        {% for subcategory in category|navbar_subcategories %}
                            {% if forloop.counter > 7 and forloop.counter <= 14 and not forloop.last %}
                                <li class="nav-item" style="min-width: 180px;">
                                  <a class="nav-link p-1 subcat text-center"  href="{{subcategory.get_absolute_url}}"> {{subcategory.name}}</a>
                                </li>
                            {% elif forloop.counter == 15 %}
                                   </ul>
                                </div>
                            {% elif forloop.last and forloop.counter > 7 and forloop.counter <= 14 %}
                                <li class="nav-item" style="min-width: 180px;">
                                  <a class="nav-link p-1 subcat text-center"  href="{{subcategory.get_absolute_url}}"> {{subcategory.name}}</a>
                                </li>
                              </ul>
                            </div>
                            {% endif %}
                        {% endfor %}

                    {% if category|navbar_subcategories|length > 14 %}
                    <div class="col-md-3">
                      <ul class="nav">
                        {% for subcategory in category|navbar_subcategories %}
                            {% if forloop.counter > 14 and forloop.counter <= 21 and not forloop.last %}
                                <li class="nav-item" style="min-width: 180px;">
                                  <a class="nav-link p-1 subcat text-center"  href="{{subcategory.get_absolute_url}}"> {{subcategory.name}}</a>
                                </li>
                            {% elif forloop.counter == 22 %}
                                   </ul>
                                </div>
                            {% elif forloop.last and forloop.counter > 14 and forloop.counter <= 21 %}
                                <li class="nav-item" style="min-width: 180px;">
                                  <a class="nav-link p-1 subcat text-center"  href="{{subcategory.get_absolute_url}}"> {{subcategory.name}}</a>
                                </li>
                              </ul>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if category|navbar_subcategories|length <= 7 %}
                    <div class="col-md-6 mt-2">
                        {% if category.image %}
                            <img src="http://placehold.it/185x250" alt="" class="position-relative">
                            <div style="right: 7%; bottom: 1%" class="bg-megamenu-image border-dark position-absolute px-2"> <p style="font-variant: small-caps;" class="text-center my-3 text-center text-white h4 font-weight-normal"> {{ category }} </p>
                            <a href="{{ category.get_absolute_url }}" style="font-variant: small-caps;" class="shadow-none btn btn-main mx-4 mb-3 p-2 px-4 rounded-0"> Confira já </a></div>
                        </div>
                        {% else %}
                            <img src="http://placehold.it/185x250" alt="" class="position-relative">
                            <div style="right: 7%; bottom: 1%" class="bg-megamenu-image border-dark position-absolute px-2"> <p style="font-variant: small-caps;" class="text-center my-3 text-center text-white h4 font-weight-normal"> {{ category }} </p>
                            <a href="{{ category.get_absolute_url }}" style="font-variant: small-caps;" class="shadow-none btn btn-main mx-4 mb-3 p-2 px-4 rounded-0"> Confira já </a></div>
                        {% endif %}
                    </div>
                    {% elif category|navbar_subcategories|length <= 14 %}
                    <div class="col-md-4 mt-2">
                        {% if category.image %}
                            <img src="http://placehold.it/185x250" alt="" class="position-relative">
                            <div style="right: 135px; bottom: 1%" class="bg-megamenu-image border-left border-dark position-absolute px-2"> <p style="font-variant: small-caps;" class="text-center my-3 text-center text-white h4 font-weight-normal"> {{ category }} </p>
                            <a href="{{ category.get_absolute_url }}" style="font-variant: small-caps;" class="shadow-none btn btn-main mx-4 mb-3 p-2 px-4 rounded-0"> Confira já </a></div>
                        {% else %}
                            <img src="http://placehold.it/185x250" alt="" class="position-relative">
                            <div style="right: 135px; bottom: 1%" class="bg-megamenu-image border-left border-dark position-absolute px-2"> <p style="font-variant: small-caps;" class="text-center my-3 text-center text-white h4 font-weight-normal"> {{ category }} </p>
                            <a href="{{ category.get_absolute_url }}" style="font-variant: small-caps;" class="shadow-none btn btn-main mx-4 mb-3 p-2 px-4 rounded-0"> Confira já </a></div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="col-md-3 mt-2">
                        {% if category.image %}
                            <img src="http://placehold.it/185x250" alt="" class="position-relative">
                            <div style="right: 52px; bottom: 1%" class="bg-megamenu-image border-dark position-absolute px-2"> <p style="font-variant: small-caps;" class="text-center my-3 text-center text-white h4 font-weight-normal"> {{ category }} </p>
                            <a href="{{ category.get_absolute_url }}" style="font-variant: small-caps;" class="shadow-none btn btn-main mx-4 mb-3 p-2 px-4 rounded-0"> Confira já </a></div>
                        {% else %}
                            <img src="http://placehold.it/185x250" alt="" class="position-relative">
                            <div style="right: 52px; bottom: 1%" class="bg-megamenu-image border-dark position-absolute px-2"> <p style="font-variant: small-caps;" class="text-center my-3 text-center text-white h4 font-weight-normal"> {{ category }} </p>
                            <a href="{{ category.get_absolute_url }}" style="font-variant: small-caps;" class="shadow-none btn btn-main mx-4 mb-3 p-2 px-4 rounded-0"> Confira já </a></div>
                        {% endif %}
                    </div>
                    {% endif %}

                  <!-- /.row  -->
                </div>
                <!--  /.container  -->
              </div>
            </li>
            {% endfor %}
        </ul>
      </div>
  </div>
</nav>

  <!-- Navbar md of less -->

  <div class="wrapper d-block d-lg-none d-xl-none">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
              <div class=" mx-auto"><a class='corp-name p-0 text-uppercase text-white h4 font-weight-normal' href="{% url 'index' %}"><img class='p-0 logo-img mt-2 mb-2' src='{% static "new/img/logo2.png" %}' alt="" /> {% company 'name' %} </a></div>
            </div>
            <div id="dismiss">
                <i class="text-dark fas fa-arrow-left"></i>
            </div>
            <div style="right: 200px" id="btnmenu">
              <a class="text-dark" href="{% url 'checkout:cart_item' %}"><i class="fas fa-lg fa-shopping-cart"></i></a>
            </div>
            <div style="right: 250px" id="btnmenu">
              <a class="text-dark" href="{% url 'checkout:cart_item' %}"><i class="fas fa-lg fa-heart"></i></a>
            </div>
            <ul class="list-unstyled components">
              <br/>
              {% if user.is_authenticated %}
              <li>
                <a href="#userSubmenu" class="simple-item nav-link dropdown-toggle h6 font-weight-bold" data-toggle="collapse" aria-expanded="false">Bem vindo, {% if user.name %} {{user.name}} {% else %} {{user}}{% endif %}!</a>
                <ul class="collapse list-unstyled" id="userSubmenu">
                    <li>
                      <a class="simple-item" href="{% url 'accounts:account' %}"> <i class="fas fa-user mr-1"></i> Minha Conta</a>
                    </li>
                    <li>
                       <a class="simple-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-1"></i> Sair</a>
                    </li>
                </ul>
                {% else %}
                <li class="nav-item align-middle mt-1">
                    <a class="simple-item" class="nav-link h6 font-weight-bold" href="#">Entrar / Registrar</a>
                </li>
                {% endif %}
              </li>
              {% for category in navcategories %}
                <li>
                    <a href="#{{category.slug}}Submenu" class="nav-link dropdown-toggle simple-item" data-toggle="collapse" aria-expanded="false">{{category}}</a>
                    <ul class="collapse list-unstyled" id="{{category.slug}}Submenu">
                      {% for subcategory in category|navbar_subcategories %}
                      {% if forloop.first %}
                        <li><a class="simple-item sidebar-list" href="{{category.get_absolute_url}}">Ver tudo</a></li>
                        <li><a class="simple-item sidebar-list" href="{{subcategory.get_absolute_url}}">{{subcategory.name}}</a></li>
                      {% else %}
                      <li><a class="simple-item sidebar-list" href="{{subcategory.get_absolute_url}}">{{subcategory.name}}</a></li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                </li>
              {% endfor %}
                <!-- <li>
                    <a href="#">Exemple</a>
                </li> -->
            </ul>

            <ul class="list-unstyled CTAs">
            <div class="row">
              <div class="col-12">
                <li>
                    <a class="btn btn-outline-dark  mb-3" href="{% url 'contact' %}"><i class="far fa-lg fa-smile-wink"></i> <br> Quem Somos</a>
                </li>
                <li>
                    <a class="btn btn-outline-dark mb-3" href="#"><i class="fas fa-map-marker-alt"></i> <br> Nossas Lojas</a>
                </li>
              </div>
              <div class="col-12">
                <li>
                    <a class="btn  btn-outline-dark  mb-3" href="#"><i class="fas fa-comments"></i> <br> Atendimento</a>
                </li>
                <li>
                    <a class="btn  btn-outline-dark  mb-3" href="#"><i class="fas fa-calendar-check"></i> <br> Eventos</a>
                </li>
              </div>
              <div class="col-4 mb-50">
                <li>
                    <a style="max-width: 50px;" class="btn btn-primary border-0 mb-3 text-white ml-auto font-weight-bold" href="" ><i style='font-size: 1.7em !important' class="fab fa-facebook"></i> </a>
                </li>
              </div>
              <div class="col-4 mb-50">
                <li>
                  <a style="max-width: 50px;" class="btn btn-success border-0 mb-3 text-white mx-auto font-weight-bold" href="whatsapp://send?phone=5585981681563" target="_blank"><i style='font-size: 1.7em !important' class="fab fa-whatsapp"></i></a>
              </li>
              </div>
              <div class="col-4 mb-50">
                <li>
                  <a style="max-width: 50px;" class="btn btn-instagram border-0 mb-3 text-white mr-auto font-weight-bold" href="" ><i style='font-size: 1.7em !important' class="fab fa-instagram"></i></a>
              </li>
              </div>
              </div>
            </div>
            </ul>
        </nav>

        <!-- Page Content  -->

            <nav class="navbar d-block d-lg-none d-xl-none navbar-anim">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn p-1 mr-2 mb-1">
                        <i style="font-size: 1.5em !important;" class="text-white fas fa-align-left"></i>
                        <p style="font-variant: small-caps; line-height: 0.8em;" class="text-white p-0 m-0">menu</p>
                    </button>
                    <div class=" mx-auto"><a class='corp-name p-0 text-uppercase text-white' href="{% url 'index' %}"><img class='p-0 logo-img mt-2 mb-2' src='{% static "new/img/logo2.png" %}' alt="" /> {% company 'name' %} </a></div>
                    <button class="btn ml-auto shadow-none ml-2" type="button" autofocus data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <i style="font-size: 1.5em !important;" class="fas fa-search text-white p-1" id="search"></i> 
                    </button>
                    <div class="collapse navbar-collapse mt-0" style="background: transparent !important;"  id="navbarSupportedContent">
                      <ul class="nav navbar-nav ml-auto">
                          <li class="nav-item active">
                            <form class="search-main form-inline">
                              <input class="form-control w-100 " style="min-width: 0!important;" type="search" id="search-main" placeholder="Procurar Produtos..." name="q" >
                            </form>
                          </li>
                      </ul>
                  </div>
                </div>
            </nav>
  </div>

</header>
{% endblock %}
  <!-- ================ End Header Area ================= -->

  <!-- ================ start banner Area ================= -->

  {% block banner_area %}
  {% endblock %}
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  {% block feature_area %}
  {% endblock %}
  <!-- ================ End Feature Area ================= -->

  <!-- ================ Start Owl Carousel Area ================= -->
  {% block index_carousel %}
  {% endblock %}
  <!-- ================ End Owl Carousel Area ================= -->

  <!-- ================ Start Registration Area ================= -->
  {% block registration_area %}
  {% endblock %}
  <!-- ================ End Registration Area ================= -->
  <!-- ================ Start Back To Top Area ================= -->

  <a class="btn btn-light btn-lg back-to-top p-2" href="#" role="button" tabindex="0" data-toggle="popover" data-placement='left' data-trigger='focus' data-content="Voltar para o topo" id="back-to-top"><img src='{% static "new/img/up-down.svg" %}' width="30"></a>

  <!-- ================= End Back To Top Area ================== -->
    <div class="overlay"></div>
  <!-- ================ Start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Top Products</h4>
          <ul>
            <li><a href="#">Managed Website</a></li>
            <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Features</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Agencies</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>Novidades</h4>
          <p>Cadastre seu e-mail para receber todas as nossas novidades e promoções!</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form target="_blank" action=""
             method="get" class="form-inline">
              <input class="form-control" name="EMAIL" placeholder="Seu E-mail"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Seu E-mail '"
               required="" type="email">
              <button class="click-btn btn btn-default text-uppercase btn-main">Cadastrar</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom row align-items-center">
        <p class="footer-text m-0 col-lg-8 col-md-12">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a href="{% url 'index' %}"> {% company 'name' %}. </a> Todos os direitos reservados | Desenvolvido por <a href=''> Dhaniel Sales :) </a>
</p>
        <div class="col-lg-4 col-md-12 footer-social">
          <a href="#"><i class="fab fa-facebook"></i></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-dribbble"></i></a>
          <a href="#"><i class="fab fa-behance"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

<!-- <script src='{% static "new/js/popper.min.js" %}'></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src='{% static "new/js/jquery-3.4.1.min.js" %}'></script>
<script src='{% static "new/js/jquery.magnific-popup.min.js" %}'></script>
<script src='{% static "new/js/jquery.ajaxchimp.min.js" %}'></script>
<script src='{% static "new/js/parallax.min.js" %}'></script>
<script src='{% static "new/js/jquery.sticky.js" %}'></script>
<script src='{% static "new/js/hexagons.min.js" %}'></script>
<script src='{% static "new/js/jquery.counterup.min.js" %}'></script>
<script src='{% static "new/js/jquery.nice-select.min.js" %}'></script>
<script src='{% static "new/js/bootstrap/bootstrap.min.js" %}'></script>
<script src='{% static "new/OwlCarousel2-2.3.4/dist/js/owl.carousel.js" %}'></script>
<script src='{% static "new/js/kitfontawesome.js" %}'></script>
<script src='{% static "new/js/bg-gif.js" %}'></script>
<script src='{% static "new/js/main.js" %}'></script>

<script src='{% static "new/js/jquery.mCustomScrollbar.concat.min.js" %}'></script> 
</body>

{% block script %}
<script type="text/javascript">
///////////////////////////////////////////////

$('.owl-carousel').owlCarousel({
    rtl:false,
    loop:true,
    margin:10,
    //nav:true,
    autoplay:false, //TEMP better True
    autoplayTimeout:5000, // = 5s
    autoplayHoverPause:true,
    navText: [ '<img src={% static "new/img/prev.png" %} >', '<img src={% static "new/img/next.png" %}>' ],
    responsive: {
      0: {
        items: 1,
        stagePadding: 0
      },
      575: {
        items: 2,
        stagePadding: 0
      },
      768: {
        items: 2,
        stagePadding: 0
      },
      992: {
        items: 3,
        stagePadding: 0
      },
      1200: {
        items: 3,
        stagePadding: 60
      },
      1440: {
        items: 4,
        stagePadding: 60
      }
    }
})
///////////////////////////////////////////////

$(document).ready(function(){
    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });
      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 400);
        return false;
      });
  });
///////////////////////////////////////////////

$(function () {
    $('[data-toggle="popover"]').popover()
})
///////////////////////////////////////////////

$('#myPopover').popover({
  trigger: 'manual',
  html: true,
  animation: true,
  title:'<div class="text-center"> <h5> Nossos Canais </h5><h6 class="text-muted mt-1"> Aproveita e fala com a gente lá :) </h6> </div>',
  content:'<div class="text-center"><div class="col-12"><a class="btn border-0 btn-primary mx-1" href=""><i class="fab fa-facebook"></i>  </a><a class="btn btn-instagram mx-1" href=""><i class="fab fa-instagram "></i>  </a><a href="https://web.whatsapp.com/send?phone=5585981681563" target="_blank" class="btn border-0 btn-success mx-1" href=""><i class="fab fa-whatsapp"></i>  </a></div></div>',
})
.on('mouseenter', function () {
  var _this = this;
  $(this).popover('show');
  $('.popover').on('mouseleave', function () {
      $(_this).popover('hide');
  });
}).on('mouseleave', function () {
  var _this = this;
  setTimeout(function () {
      if (!$('.popover:hover').length) {
          $(_this).popover('hide');
      }
  }, 300);
});
///////////////////////////////////////////////

$(document).ready(function() {

 $(window).resize(function(){
   if ($(window).width() >= 980){  
 
       $(".navbar .dropdown-toggle").hover(function () {
          $(this).parent().toggleClass("show");
          $(this).parent().find(".dropdown-menu.dropdown-lg").toggleClass("show"); 
        });

       $( ".navbar .dropdown-menu.dropdown-lg" ).mouseleave(function() {
         $(this).removeClass("show");  
       });
   }  
 });  
 });

///////////////////////////////////////////////

$(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
///////////////////////////////////////////////
$(document).click(function(e) {
	if (!$(e.target).is('.container-fluid') && !$(e.target).is('.navbar-collapse') && !$(e.target).is('.search-main') && !$(e.target).is('.navbar') && !$(e.target).is('#search-main')) {
    	$('.collapse').collapse('hide');	    
    }
});
///////////////////////////////////////////////

//$(document).mouseover(function(e) {
//  if (!$(e.target).is('.navbar .dropdown"') || !$(e.target).is('.navbar .dropdown .dropdown-menu.dropdown-lg')) {
//      $(".navbar .dropdown .dropdown-menu.dropdown-lg").addClass('show')
//    } else {$(".navbar .dropdown .dropdown-menu.dropdown-lg").removeClass('show')
//    }
//});

</script>
{% endblock %}


</html>

