<!DOCTYPE html>

{% load static %}

<html lang="pt-br">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  
  <!-- <link rel="shortcut icon" href="{% static 'new/img/favicon.png' %}" /> -->

  <!-- Author Meta -->
  <meta name="author" content="DhaN" />
  <!-- Meta Description -->
  <meta name="description" content="" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="" />
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Site Title -->
	<title>{% block title %}Helena E-Commerce Model - Your Store{% endblock %}</title>

  <!-- CSS ============================================= -->
  
  <link rel="stylesheet" href='{% static "new/css/bootstrap.css" %}'/>
  <link rel='stylesheet' href='{% static "new/css/test.css" %}'>

  <!-- JS ===================================================== -->
<body>

  <!-- ======================== Navbar ======================== -->

    <nav class='navbar navbar-expand-lg navbar-light bg-light'>

        <div class="container">

          <i class="fas fa-cogs fa-2x text-primary"> <a class='navbar-brand h1 mb-0 align-middle' href=''></i> Fábrica de Sonhos </a>

        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSite'>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSite'>
            <ul class='navbar-nav mr-auto'>
            </ul>

            <ul class='navbar-nav ml-auto'>
                <li class="nav-item">
                    <a class='nav-link' href="">Produtos</a>
                </li>
                
                <li class="nav-item">
                    <a class='nav-link' href="">Contato</a>
                </li>

                <li class="nav-item dropdown">
                    <a class='nav-link dropdown-toggle' href="" data-toggle="dropdown" id="navDrop">Categorias</a>
                    <div class='dropdown-menu'>
                        <a class='dropdown-item' href=""> Calças </a>
                        <a class='dropdown-item' href=""> Moletons </a>
                    </div>
                </li>

            </ul>

            <form class="form-inline">
              <input class="form-control ml-4 mr-2" type="search" placeholder="Procurar Produtos..." name="q" >
              <button class="btn btn-secondary" type="submit">Ok</button>
            </form>

        </div>
        </div>
    </nav>

    <!-- ======================== Carousel ======================== -->

    <div class='carousel slide' data-ride='carousel' id='carouselSite'>

      <ol class="carousel-indicators">
        <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
        <li data-target="#carouselSite" data-slide-to="1"></li>
        <li data-target="#carouselSite" data-slide-to="2"></li>
      </ol>

      <div class='carousel-inner'>

        <div class="carousel-item active">
           <img src='http://placehold.it/900x500' id='carousel-img' class="img-fluid d-block">
           <div class="carousel-caption d-none d-md-block text-dark">
             <h2>Lorem ipsum dolor sit amet</h2>
             <p class="lead">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p class="lead">
           </div>
        </div>

        <div class="carousel-item">
          <img src='http://placehold.it/900x500' id='carousel-img' class="img-fluid d-block">
          <div class="carousel-caption d-none d-md-block">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p class="lead">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p class="lead">
          </div>
        </div>

        <div class="carousel-item">
          <img src='http://placehold.it/900x500' id='carousel-img' class="img-fluid d-block">
          <div class="carousel-caption d-none d-md-block">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p class="lead">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide='prev'>
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Anterior</span>
      </a>

      <a class="carousel-control-next" href="#carouselSite" role="button" data-slide='next'>
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Avançar</span>
      </a>
    </div>

    <!-- ======================== ScrollSpy ======================== -->

    <div class="container"> 
        
        <div class="row">
          <div class="col-12 text-center mt-5">
              <h1 class="display-3">Lorem ipsum</h1>
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="row mb-5">

          <div class="col-sm-6 col-md-4 mb-3"> 
            <nav class="navbar navbar-light bg-light" id="navbarVertical">
              <nav class="nav nav-pills flex-column">
                <a class="nav-link mt-2" href="#item1">Incididunt ut</a>
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link ml-3" href="#item1-1">Incididunt aliqua</a>
                  <a class="nav-link ml-3" href="#item1-2">Incididunt magna</a>
                </nav>
                <a class="nav-link mt-2" href="#item2">Labore ut</a>
                <a class="nav-link mt-2" href="#item3">Dolore ut</a>
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link ml-3" href="#item3-1">Dolore aliqua</a>
                  <a class="nav-link ml-3" href="#item3-2">Dolore magna</a>
                </nav>
              </nav>
            </nav>
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="scrollspySite bg-light" data-spy='scroll' data-target='#navbarVertical' data-offset=0> 
                <H2 id='item1'>Incididunt ut</H2>
                <p >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                <H5 id='item1-1'>Incididunt aliqua</H5>
                <p >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                
                <H5 id='item1-2'>Incididunt magna</H5>
                <p >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                <H2 id='item2'>Labore ut</H2>
                <p >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  
                <H2 id='item3'>Dolore ut</H2>
                <p >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                <H5 id='item3-1'>Dolore aliqua</H5>
                <p >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <H5 id='item3-2'>Dolore magna</H5>
                <p >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
        </div>
    </div>

    <!-- ======================== Cards ======================== -->

    <div class="container"> 
      <div class="row justify-content-sm-center">
            <div class="col-sm-6 col-md-4">
              <div class="card mb-5">
                <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                <img class="card-img-top" src='http://placehold.it/325x250'>
                <div class="card-body">
                  <h4 class="card-title"> Ut enim ad </h4>
                  <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                  <p class='card-text'>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Auis </li>
                    <li class="list-group-item">Jostrud </li>
                    <li class="list-group-item">Exercitatio</li>
                </ul>
                <div class="card-body">
                  <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                  <button class="btn btn-primary card-link"> Detalhes</button>
                </div>
                <div class="card-footer text-muted">Ut enim ad minim veniam</div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="card mb-5">
                <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                <img class="card-img-top" src='http://placehold.it/325x250'>
                <div class="card-body">
                  <h4 class="card-title"> Ut enim ad </h4>
                  <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                  <p class='card-text'>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Auis </li>
                    <li class="list-group-item">Jostrud </li>
                    <li class="list-group-item">Exercitatio</li>
                </ul>
                <div class="card-body">
                  <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                  <button class="btn btn-primary card-link"> Detalhes</button>
                </div>
                <div class="card-footer text-muted">Ut enim ad minim veniam</div>
              </div>
            </div>

          <div class="col-sm-6 col-md-4">
            <div class="card mb-5">
              <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
              <img class="card-img-top" src='http://placehold.it/325x250'>
              <div class="card-body">
                <h4 class="card-title"> Ut enim ad </h4>
                <h6 class="card-subtitle mb-2 text-muted"> Ut enim ad minim veniam</h6>
                <p class='card-text'>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Auis </li>
                  <li class="list-group-item">Jostrud </li>
                  <li class="list-group-item">Exercitatio</li>
              </ul>
              <div class="card-body">
                <button data-toggle="modal" data-target="#siteModal" class="btn btn-primary card-link"> Adicionar ao carrinho</button>
                <button class="btn btn-primary card-link"> Detalhes</button>
              </div>
              <div class="card-footer text-muted">Ut enim ad minim veniam</div>
            </div>
          </div>
        
      </div>

    </div>

    <!-- ======================== Jumbotron ======================== -->

    <!-- == Jumbotron Container == -->

    <!-- <div class='container'>
        <div class='row'>
              <div class='col-12'>
                  <div class="jumbotron">
                      <h1 class="text-center">Teste</h1>
                  </div>
              </div>
        </div>
    </div> -->

    <!-- == Jumbotron NO Container == -->

    <div class="jumbotron">

      <div class='container'>

        <div class='row'>

          <div class='col-12 text-center'>

              <h1 class="text-center"> <i class="fab fa-youtube text-danger fa-1x mr-1"> </i>Lorem ipsum dolor sit amet</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <hr>

          </div>

        </div>

        
        <div class="row">
          
          <div class="col-12">
            
            <ul class="nav nav-pills justify-content-center mb-5" id='pills-nav' role='tablist'>

              <li class="nav-item">
                <a class="nav-link active" id='nav-pills-01' data-toggle="pill" href="#nav-item-01">Adipiscing elit</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" id='nav-pills-02' data-toggle="pill" href="#nav-item-02">Reprehenderit elit</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" id='nav-pills-03' data-toggle="pill" href="#nav-item-03">Voluptate elit</a>
              </li>
            
            </ul>
            

            <div class="tab-content" id='nav-pills-content'>  

                <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">

                  <div class="row">

                    <div class="col-sm-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ymMVm7Rnaak" frameborder="0"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                  </div>

                </div>


                <div class="tab-pane fade" id="nav-item-02" role="tabpanel">

                  <div class="row">

                    <div class="col-sm-6">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ymMVm7Rnaak" frameborder="0"></iframe>
                        </div>
                    </div>

                  </div>

                </div>


                <div class="tab-pane fade" id="nav-item-03" role="tabpanel">

                  <div class="row">

                    <div class="col-sm-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ymMVm7Rnaak" frameborder="0"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                  </div>

                </div>

            </div>


          </div>
          
        </div>

      </div>

    </div>

    <!-- ======================== Form ======================== -->


    <div class="container">

        <div class="row">

            <div class="col-12 text-center my-5">

              <h1> <i class="fab fa-suse fa-1x"></i> Lorem ipsum dolor </h1>
            </div>
        </div>

        <div class="row md-5 justify-content-center">

              <div class="col-sm-12 col-md-10 col-lg-8 ">

                  <h4>Lorem ipsum dolor</h4>
                  <br>
                  <form>

                      <div class="form-row">

                            <div class="form-group col-sm-6">

                                <label for="inputNome">Seu Nome:</label>
                                <input type="text" class="form-control" id="inputNome" placeholder="Nome">

                            </div>

                            <div class="form-group col-sm-6">

                              <label for="inputSobrenome">Seu Sobrenome:</label>
                              <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome">

                            </div>

                      </div>

                      <hr>

                      <div class="form-row">

                            <div class="form-group col-sm-12">

                              <label for="inputEnd">Seu Endereço:</label>
                              <input type="text" class="form-control" id="inputEnd" placeholder="Endereço Completo">

                            </div>

                      </div>
                      
                      <hr>

                      <div class="form-row">

                            <div class="form-group col-sm-4">

                              <label for="inputCid">Sua Cidade:</label>
                              <input type="text" class="form-control" id="inputCid" placeholder="Cidade">

                            </div>

                            <div class="form-group col-sm-4">

                              <label for="inputEst">Seu Estado:</label>
                              <input type="text" class="form-control" id="inputEst" placeholder="Estado">

                            </div>

                            <div class="form-group col-sm-4">

                              <label for="inputCEP">Seu CEP:</label>
                              <input type="text" class="form-control" id="inputCEP" placeholder="CEP">

                            </div>

                            <hr>

                      </div>

                      <div class="form-row">

                            <div class="form-group col-sm-12">

                                <div class="form-check">

                                    <label class="form-check-label" for="">
                                      <input class="form-check-input" type="checkbox"> Desejo receber novidades por e-mail.
                                    </label>

                                </div>

                            </div>

                      </div>

                      <div class="form-row mb-5 float-right">

                            <a tabindex="0" class="btn btn-secondary mr-2" role='button' data-toggle="popover" data-placement='left' data-trigger='focus' title="Laboris Nisi" data-content='Laboris nisi ut aliquip ex ea commodo consequat.'>Ajuda</a> 
                            <button class="btn btn-success float-right" type="submit">Enviar</button>

                      </div>

                  </form>

              </div>

        </div>
        
        <div class="row">

              <div class="col-12 mb-3" ><hr></div>

              <div class="col-sm-4">

                  <h3>Fábrica de Sonhos</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet, consectetur adipiscing elit, tempor incididunt ut labore et dolore magna aliqua sed do eiusmod. Ut nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat enim ad minim veniam quis. </p>

              </div>

              <div class="col-sm-4">

                <h3>Menu</h3>

                <div class="list-group">
                  <a class="list-group-item list-group-item-action list-group-item-primary" href="">Produtos</a>
                  <a class="list-group-item list-group-item-action list-group-item-primary" href="">Contato</a>
                  <a class="list-group-item list-group-item-action list-group-item-primary" href="">Conta</a>

                </div>

              </div>

              <div class="col-sm-4">

                  <h3>Social</h3>

                  <div class="btn-group-vertical btn-block btn-group-lg" role="group">

                      <a href="" class="btn btn-outline-primary"><i class="fab fa-facebook"></i> Facebook</a>
                      <a href="" class="btn btn-outline-danger"><i class="fab fa-youtube mr-1"></i>Youtube</a>
                      <a href="" class="btn btn-outline-warning"><i class="fab fa-instagram mr-1"></i>Instagram</a>

                  </div>

              </div>

              <div class="col-12 mt-5">

                  <blockquote class="blockquote text-center">

                      <p class="mb-0">O sucesso não é garantido, mas o fracasso é certo se você não estiver emocionalmente envolvido em seu trabalho.</p>
                      <footer class="blockquote-footer">Biz Stone <cite title="Título"> Fundador do Twitter </cite> </footer>

                  </blockquote>

              </div>


        </div>

    </div>


    <!-- ======================== Modal ======================== -->


    <div class="modal fade" id="siteModal" tabindex='-1' role='dialog'>
        <div class="modal-dialog modal-lg" role='document'>
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Lorem ipsum</h5>
                    <button class="close" type='button' data-dismiss='modal'>
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="container-fluid">

                        <div class="row">

                            <div class="col-6">
                              <h5>Lorem ipsum</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                            </div>

                            <div class="col-6">
                              <h5>Lorem ipsum</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                            </div>

                        </div>

                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Aceito</button>
                </div>

            </div>
        </div>
    </div>


    <script src='{% static "new/js/vendor/jquery-2.2.4.min.js" %}'></script>
    <script src='{% static "new/js/popper.min.js" %}'></script>
    <script src="https://kit.fontawesome.com/3af94e60e8.js" crossorigin="anonymous"></script>
    <script src='{% static "new/js/vendor/bootstrap.min.js" %}'></script>

  <script>
      $(function () {
        $('[data-toggle="popover"]').popover();
      });
  </script>

</body>
</html>