{% extends "core/base.html" %}

{% load static %}

{% block index_carousel %}

<div class="container mt-4">

    <div class="row">

        <div class="col-12">



            <p>{% calcas_category calcas_category %}</p>
            
           <p class="h3 text-center font-weight-light"> <span class="font-weight-bold"> CALÇAS </span> COM OS MELHORES DESCONTOS:</p>

            <div class="owl-carousel owl-theme mt-5">

                <div class="item ml-2 bg-light">

                  <div class="card mb-5 border-0 bg-light">
                      <a href="">
                        <img class="card-img-top" src='http://placehold.it/325x250'>
                      </a>
                      <div class="card-body">
                          <a href="">
                            <p class="card-title h6 mb-2"> Calça Branca </p>
                          </a>
                          <a href="">
                            <p class="card-subtitle mb-0 text-muted"> Calças</p>
                          </a>
                          <!-- <a class="shadow-none btn btn-transparent card-link ml-0 float-right btn-gif p-1"> <img class="bg-gif" data-in='{% static "new/img/heart-in.gif" %}' data-out='{% static "new/img/heart-out.gif" %}' src='{% static "new/img/heart.svg" %}'> </a> -->
                          <a class="text-dark" href="">
                            <p class='card-text pt-1'><s class="text-muted"> R$180,00 </s><span class="font-weight-bold ml-1"> R$100,00 </span></p>
                          </a>
                      </div>
                      <div class="card-footer py-0 text-muted bottom d-flex">
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <p class="ml-20 mb-0">25 Reviews</p>
                      </div>
                  </div>

                </div>

            </div>

          </div>
    </div>

    <div class="row">

      <div class="col-12">

        <p class="h3 text-center font-weight-light"> <span class="font-weight-bold"> CALÇAS </span> COM OS MELHORES DESCONTOS:</p>

          <div class="owl-carousel owl-theme mt-5">

              <div class="item ml-2 bg-light">

                <div class="card mb-5 border-0 bg-light">
                    <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                    <a href="">
                      <img class="card-img-top" src='http://placehold.it/325x250'>
                    </a>
                    <div class="card-body">
                        <a href="">
                          <p class="card-title h6 mb-2"> Calça Branca </p>
                        </a>
                        <a href="">
                          <p class="card-subtitle mb-0 text-muted"> Calças</p>
                        </a>
                        <!-- <a class="shadow-none btn btn-transparent card-link ml-0 float-right btn-gif p-1"> <img class="bg-gif" data-in='{% static "new/img/heart-in.gif" %}' data-out='{% static "new/img/heart-out.gif" %}' src='{% static "new/img/heart.svg" %}'> </a> -->
                        <a class="text-dark" href="">
                          <p class='card-text pt-1'><s class="text-muted"> R$180,00 </s><span class="font-weight-bold ml-1"> R$100,00 </span></p>
                        </a>
                    </div>
                    <div class="card-footer py-0 text-muted bottom d-flex">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <p class="ml-20 mb-0">25 Reviews</p>
                    </div>
                </div>

              </div>

          </div>

        </div>
    </div>

    <div class="row">

        <div class="col-12">

          <p class="h3 text-center font-weight-light"> <span class="font-weight-bold"> CALÇAS </span> COM OS MELHORES DESCONTOS:</p>

            <div class="owl-carousel owl-theme mt-5">

                <div class="item ml-2 bg-light">

                  <div class="card mb-5 border-0 bg-light">
                      <!-- <div class="card-header">Ut enim ad minim veniam</div> -->
                      <a href="">
                        <img class="card-img-top" src='http://placehold.it/325x250'>
                      </a>
                      <div class="card-body">
                          <a href="">
                            <p class="card-title h6 mb-2"> Calça Branca </p>
                          </a>
                          <a href="">
                            <p class="card-subtitle mb-0 text-muted"> Calças</p>
                          </a>
                          <!-- <a class="shadow-none btn btn-transparent card-link ml-0 float-right btn-gif p-1"> <img class="bg-gif" data-in='{% static "new/img/heart-in.gif" %}' data-out='{% static "new/img/heart-out.gif" %}' src='{% static "new/img/heart.svg" %}'> </a> -->
                          <a class="text-dark" href="">
                            <p class='card-text pt-1'><s class="text-muted"> R$180,00 </s><span class="font-weight-bold ml-1"> R$100,00 </span></p>
                          </a>
                      </div>
                      <div class="card-footer py-0 text-muted bottom d-flex">
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <a href="#"><i class="fa fa-star"></i></a>
                          <p class="ml-20 mb-0">25 Reviews</p>
                      </div>
                  </div>

                </div>

            </div>

          </div>
    </div>

</div>

{% endblock %}
