{% extends "core/base.html" %}

{% load static %}
{% load products_spotlights %}
{% load thumbnail %}
{% load company %}


{% block banner_area %}
    <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8 home-banner-left">
          <h2 class="text-white font-default text-uppercase">{% company 'name' %}</h1>
          <h5 class="text-white font-default"> {% company 'slogan' %}<h3>
          <p class="mx-auto text-white mt-20 mb-40 font-default"> A Melhor em artigos de Ballet, Dança e FitStyle.</p>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
          <img class="img-fluid" src='{% static "new/img/header-img.png" %}' alt="" />
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block feature_area %}
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-4">
          <div class="feature-item d-flex">
            <i class="ti-book"></i>
            <div class="ml-20">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="feature-item d-flex">
            <i class="ti-cup"></i>
            <div class="ml-20">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="feature-item d-flex border-right-0">
            <i class="ti-desktop"></i>
            <div class="ml-20">
              <h4>Lorem ipsum</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block index_carousel %}

 <div class="container mt-4">
  
  {% for category in home_spotlight %}

    <div class="row">

        <div class="col-12">
          
          <p class="h3 text-center font-weight-light"> <span class="font-weight-bold text-uppercase"> {{ category.name }} </span> COM OS MELHORES DESCONTOS:</p>

            {% for product in category|products_spotlights %}

            <div class="owl-carousel owl-theme mt-5">

                <div class="item ml-2 bg-light">

                  <div class="card mb-5 border-0 bg-light">
                      <a href="{{ product.get_absolute_url }}">
                        {% for image in product.images.all %}
                        {% if image.thumbnail %}
                        <img class="card-img-top" src="{{ image.image|thumbnail_url:'product_image' }}" alt="" />
                        {% endif %}
                        {% empty %}
                        <img src="http://placehold.it/350x250" alt="" />
                        {% endfor %}
                    </a>
                      <div class="card-body">
                          <a href="{{ product.get_absolute_url }}">
                            <p class="card-title h6 mb-2"> {{ product.name }} </p>
                          </a>
                          <a href="{{ category.get_absolute_url }}">
                            <p class="card-subtitle mb-0 text-muted"> {{ category.name }} </p>
                          </a>
                          <!-- <a class="shadow-none btn btn-transparent card-link ml-0 float-right btn-gif p-1"> <img class="bg-gif" data-in='{% static "new/img/heart-in.gif" %}' data-out='{% static "new/img/heart-out.gif" %}' src='{% static "new/img/heart.svg" %}'> </a> -->
                          <a class="text-dark" href="{{ product.get_absolute_url }}">
                            <p class='card-text pt-1'><s class="text-muted"> R$180,00 </s><span class="font-weight-bold ml-1"> R$ {{ product.price }} </span></p>
                          </a>
                      </div>
                      <div class="card-footer py-0 text-muted bottom d-flex">
                          <a href="#"><i class="text-warning fa fa-star"></i></a>
                          <a href="#"><i class="text-warning fa fa-star"></i></a>
                          <a href="#"><i class="text-warning fa fa-star"></i></a>
                          <a href="#"><i class="text-warning fa fa-star"></i></a>
                          <a href="#"><i class="text-warning fa fa-star-half-o" aria-hidden="true"></i></a>
                          {% comment %} <a href="#"><i class="text-warning fa fa-star-half" aria-hidden="true"></i></a> {% endcomment %}
                          <p class="ml-20 mb-0">25 Reviews</p>
                      </div>
                  </div>

                </div>

            </div>
            {% endfor %}

          </div>
    </div>
   
  {% endfor %}

 </div>

{% endblock %}

{% block registration_area %}
  <section class="registration-area">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-5">
          <div class="section-title text-left text-white">
            <h2 class="text-white">
              Lorem ipsum dolor <br>
              sit amet
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus est.
            </p>
          </div>
        </div>
        <div class="offset-lg-3 col-lg-4 col-md-6">
          <div class="course-form-section">
            <h3 class="text-white">Products for Free</h3>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <form class="course-form-area contact-page-form course-form text-right" id="myForm" action="mail.html" method="post">
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Name'">
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Phone Number" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Phone Number'">
              </div>
              <div class="form-group col-md-12">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Email Address'">
              </div>
              <div class="col-lg-12 text-center">
                <button class="btn text-uppercase">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}